@import url('https://fonts.googleapis.com/css?family=Pacifico');

h2 {
  font-size: 3em;
}
header {
  display: block;
  background-color: lightcyan;
  width: 100%;
  position: fixed;
  margin-top: 0;
  margin-left: 0;
  top: 0;
  left: 0;
  z-index: 1;
}

header h2 {
  font-size: 2em;
  margin-left: 20px;
  padding-left: 10px;
  display: inline-block;
  /*width: 20%;*/
}

nav {
  float: right;
  clear: both;
}

nav ul {
  padding-right: 10px;
  list-style-type: none;
    margin-top: 30px;
}

li {
  display: inline;
  padding: 5px 10px;
  font-size: 1.5em;

}

main {
  clear: both;
margin-top: 80px;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: darkslategray;
}


a:hover {
  color:silver;
}
main h2:first-of-type {
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

h1 {
  font-family: Pacifico;
  clear: both;
  color: silver;
  text-align: center;
  background-image: url("/Users/sai/Documents/ada/projects/meowspace/assets/hero.jpg");
  background-size: cover;
  background-position: center;
  font-size: 6em;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;

}



.pop-posts {
  /*text-align: center;*/
  margin: 0 40px 0 40px;

}

.post {
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 300px;
  height: 250px;
  padding-bottom: 20px;
  margin: 20px 30px;
  border-radius: 20px;
  border-style: solid;
  border-color: steelblue;
  border-width: thin;
}

article.post h3 {
  font-size: 1.5em;
  font-weight: lighter;
  text-align: center;
  padding: 20px 5px;
  margin: 0;
  color: steelblue;
  border-bottom: steelblue;
  border-bottom-style: solid;
  border-width: thin;
}

article.post p {
  padding-left: 15px;
  text-align: left;

}

article.post p:last-child {
  width: 35%;
  text-align: center;
  bottom: 1em;
  margin: 0 32% 0 32%;
  padding: 10px 0;
  border-radius: 10px;
  border-style: solid;
  border-color: steelblue;
  border-width: thin;
  position: absolute;
  vertical-align: bottom;

}

section.join {
  background-color: lightcyan;
  width: 100%;
  padding: 5% 0;
}

section.join h2 {
  font-family: Pacifico;
  display: inline-block;
  text-align: center;
  width: 50%;
  margin: 0 0 0 2%;
  /*padding-left: 5%*/
}

section.join p {
  font-size: 1.5em;
  width: 45%;
  display: inline-block;
  vertical-align: top;
  margin-left: 5%;

}

section.join img {
  display: inline-block;
  clear: both;
  width: 40%;
  margin-left: 5%;
  margin-top: -40px;
  border-color: darkslategray;
  border-style: solid;
}

section.cat-takeover{
  background-image: url("../assets/everybody.jpg");
  background-size: cover;
  background-position: center;
}

section.cat-takeover h2 {
  font-family: Pacifico;
  margin-top:0;
  padding: 10% 0;
  color: silver;
  font-size: 4em;
}

footer, .cat-takeover {
  /*padding-top: 10px;*/
  /*clear: both;*/
  display: block;
  background-color: gold;
}

footer {
  padding-left: 1%;
}

footer h4 {
  float: left;
  margin: 0;
  padding-top: 2%;
  padding-right: 4px;
  /*display: inline;*/

}

footer p {

  width: 40%;
  margin: 0;
  padding: 2% 0;


}

footer nav {

  width: 48%;

}

footer ul {
  padding-left: 10px;
  margin-top: 10px;
}

footer li {
  font-size: 1.5em;
  display: block;
  padding-left:0;
}
